<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>firedbullet_1.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{80,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,40}}</string>
                <key>sourceSize</key>
                <string>{80,40}</string>
            </dict>
            <key>firedbullet_10.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{44,121},{74,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,40}}</string>
                <key>sourceSize</key>
                <string>{74,40}</string>
            </dict>
            <key>firedbullet_2.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{155,44},{68,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,40}}</string>
                <key>sourceSize</key>
                <string>{68,40}</string>
            </dict>
            <key>firedbullet_3.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{81,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,40}}</string>
                <key>sourceSize</key>
                <string>{81,40}</string>
            </dict>
            <key>firedbullet_4.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{44,44},{75,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,40}}</string>
                <key>sourceSize</key>
                <string>{75,40}</string>
            </dict>
            <key>firedbullet_5.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>firedbullet_6.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{79,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,40}}</string>
                <key>sourceSize</key>
                <string>{79,40}</string>
            </dict>
            <key>firedbullet_7.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>firedbullet_8.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{78,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,40}}</string>
                <key>sourceSize</key>
                <string>{78,40}</string>
            </dict>
            <key>firedbullet_9.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{80,197},{73,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,40}}</string>
                <key>sourceSize</key>
                <string>{73,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>FiredBullet_default.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9609f4fff790526400a0020cc5e6601:1/1$</string>
            <key>textureFileName</key>
            <string>FiredBullet_default.png</string>
        </dict>
    </dict>
</plist>
